* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: #222;
  background-color: #555;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #2b2b2b;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  width: 100%;
}

.logo img {
  width: 10em;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #f9fafb;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover,
nav a.active {
  color: #008B8B;
}

.navbotones {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.boto-login {
  border: 1px solid #ccc;
  color: #f9fafb;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.boto-login:hover {
  background-color: #333;
}

.btn.primary {
  background-color: #008B8B;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn.primary:hover {
  background-color: #008B8B;
}


body {
  color: #f9fafb;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.apartatContacte {
  width: 100%;
  max-width: 1200px;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.contacteCaixa {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.contacteFormulari,
.info {
  background-color: #2b2b2b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.contacteFormulari h1 {
  color: #008B8B;
  margin-bottom: 0.5rem;
}

.contacteFormulari p {
  color: #bbb;
  margin-bottom: 2rem;
}

.contacteFormulari label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.contacteFormulari input,
.contacteFormulari textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: #1c1c1c;
  color: #f9fafb;
}

.botoBase {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #008B8B;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.8rem;
}

.botoBase:hover {
  background-color: #006b6b;
}

.info h2 {
  color: #008B8B;
  margin-bottom: 1rem;
}

.info p {
  margin-bottom: 0.8rem;
  color: #ddd;
}

.info iframe {
  margin-top: 1rem;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #212121;
  color: #777;
}

.footertermes {
  margin-bottom: 1rem;
}

.footertermes a {
  margin: 0 10px;
  text-decoration: none;
  color: #9b9898;
}

@media (max-width: 768px) {
  .contacteCaixa {
    flex-direction: column;
  }
}
